{% extends "base.html" %}

{% block content %}
<br>

<div class="max-w-4xl mx-auto text-center mb-8">
	<h1 class="text-4xl md:text-5xl font-bold mb-4">Alles über Zölle</h1>
	<p class="text-gray-600 text-lg md:text-xl">Von Anfängerwissen bis zum Zoll-O-Mat</p>
</div>

<div class="max-w-6xl mx-auto grid gap-6 grid-cols-1 md:grid-cols-2">
	<a href="/page/allgemeines" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Was ist ein <span class="italic">Zoll</span>?</h2>
		<p class="text-gray-600">Erfahre alles über Zölle und ihre Bedeutung in der Wirtschaft und Politik.</p>
	</a>

	<a href="/page/entwicklung" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Entwicklung</h2>
		<p class="text-gray-600">Welche Ereignisse sind in den letzten Jahren bezüglich der Zollpolitik aufgetreten? Wie sind Zölle überhaupt zustande gekommen?</p>
	</a>

	<a href="/page/vs" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Protektionismus vs Freihandel</h2>
		<p class="text-gray-600">Das ganze Spektrum zwischen Protektionismus und Freihandel. Was bedeutet das für die Menschen in Deutschland?</p>
	</a>

	<a href="/page/zollomat" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Zoll-O-Mat</h2>
		<button class=" centered bg-stone-500 hover:bg-stone-700 text-white font-bold py-2 px-4 rounded">Jetzt ausprobieren!</button>
	</a>

	<a href="/page/bilanz" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Bilanz</h2>
		<p class="text-gray-600">Unsere Bilanz der Zollpolitik in Deutschland und unser Lösungsansatz für zukünftige Zollpolitik.</p>
	</a>

	<a href="/page/interview" class="block bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
		<h2 class="text-xl font-semibold mb-2">Interview</h2>
		<p class="text-gray-600">Ein Interview mit zwei Experten über die Vor- und Nachteile von Zöllen und die Zukunft der Zollpolitik.</p>
	</a>
</div>

{% endblock %}